* {
  box-sizing: border-box;
}
.bottom-some {
     margin-bottom: 2em;
}
.top-some {
     margin-top: 2em;
}
.imgcolumn {
  float: center;
  width: 15.00%;
  padding: 5px;
}
.textcolumn {
  float: left;
  /*width: 85.00%;*/
  padding: 5px;
}
.contactcolumn {
  float: left;
  /*width: 85.00%;*/
  padding: 5px;
}
.brandcolumn {
  float: center;
  width: 10em;
  padding: 5px;
}
@media (max-width: 992px) {
  .imgcolumn {
  width: 0em;
  padding: 0px;
  }
  .brandcolumn {
    width: 0em;
    padding: 0px;
  }
  .bottom-some {
     margin-bottom: 0em;
  }
  .top-some {
     margin-top: 0em;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
  /*padding: 5px;*/
}

.container {
  position: relative;
  width: 30%;
  height: auto;
}
.photo {
  display: inline-block;
  max-width: 28%;
  /*padding-top: 75%;*/
}
.overlay {
/*  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;*/
  opacity: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  opacity: 0.75;
}
.caption {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: lightgray;
}

body {
  font-family: 'Open Sans', serif;
  padding-top: 1em;
  color: #868e96;
  padding-left: 1em;
}

@media (min-width: 992px) {
  body {
    padding-top: 1em;
    padding-left: 10rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNavSlim .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-align: left;
  /*text-transform: uppercase;*/
}

@media (min-width: 992px) {
  #sideNavSlim {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 100vh;
  }
  #sideNavSlim .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNavSlim .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNavSlim .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNavSlim .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
    /*margin-top: 5em;*/
  }
  #sideNavSlim .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNavSlim .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #272727 !important;
}

.text-primary {
  color: #272727 !important;
}

a {
  color: #272727;
}

a:hover, a:focus, a:active {
  color: #747474;
}


/*further-added-flier*/

.flier2 {
  pointer-events: none;
}

.flier2 > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 20s linear infinite;
        pointer-events: none !important;
  top: 0;
  left: 0;
  transform: translateX(200%) translateY(50%) rotateZ(0);
  position: fixed;
  animation-delay: 0.5s;
  z-index: 99999;
}

.flier {
	pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}
